@{
    ViewBag.Title = @lang.Recruitment;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using webNews.Domain.Entities;
@using System.Globalization;
@using webNews.Security;
@using lang = webNews.Language.Language.Resource
<div id="content">
    <div id="leftcontent">
        <div class="webpartcontent">
            <div class="articlelist">
                <ul>
                    @{
                        int totalRecord = 0;
                        int currentPage = 0;
                        int pageSize = 5;
                        var newsPaging = ViewBag.news as webNews.Models.PagingObject<News>;
                        if (newsPaging != null)
                        {
                            totalRecord = newsPaging.Total;
                            currentPage = newsPaging.CurrentPage + 1;
                            pageSize = newsPaging.PageSize;
                            foreach (var news in newsPaging.DataList)
                            {
                                <li class="item">
                                    <a class="avatar" href="@news.Slug" title="@news.Title">
                                        <img src="@news.Image" alt="@news.Title" />
                                    </a>
                                    <h3 class="title">
                                        @{
                                            var namePost = news.Slug;
                                            if (string.IsNullOrEmpty(namePost))
                                            {
                                                namePost = webNews.Shared.UrlUtil.ToFriendlyUrl(news.Title);
                                            }
                                        }

                                        <a href="@Url.RouteUrl("RecruitmentDetail", new { category_name = "tuyen-dung", post_name = namePost, id = news.Id })" title="@news.Title">@news.Title</a>
                                    </h3>
                                    <p class="date">
                                        @(news.CreatedDate != null ? news.CreatedDate.Value.ToString("dddd, dd/MM/yyyy, HH:mm", Authentication.GetLanguageCode() == "vi" ?
                                                new CultureInfo("vi-VN") : new CultureInfo("en-US")) : "")
                                    </p>
                                    <div class="des">
                                        <p>
                                            @news.ContentDetail
                                        </p>
                                    </div>
                                </li>
                            }
                        }

                    }

                </ul>
                <div class="clear">
                </div>
                <script src="~/ThemeFE/Scripts/Plugin/Pagging/pagging.js" type="text/javascript"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        /* initiate plugin */
                        $(".itemContainer").jPagging({
                            container: ".itemContainer",
                            links: "recruitment?page=",
                            pageSize: @pageSize,
                            currentNumPage: @currentPage,
                            totalRecord: @totalRecord
                        });
                    });</script>
                <div class="paging pagination pagination-news-list">
                    <ul class="itemContainer"></ul>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rightcontent">
        <div class="webpartcontent">
            <h2>
                @lang.Recruitment
            </h2>
            <div class="menuleft">
                <ul class="lt nic-treeview">
                    @{
                        var newsCategories = ViewBag.newsCategories as List<NewsCategory>;
                        if (newsCategories != null)
                        {
                            foreach (var category in newsCategories)
                            {
                                <li class="item item-0">
                                    <a class="a-item-0" href="/@category.Slug" title="@category.Title">@category.Title</a>
                                    @if (category.CategoryChilds != null && category.CategoryChilds.Count > 0)
                                    {
                                        <ul class="lt">
                                            @foreach (var child in category.CategoryChilds)
                                            {
                                                <li class="item item-1">
                                                    <a class="a-item-1" href="/@child.Slug" title="@child.Title">@child.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        }

                    }
                </ul>
            </div>
        </div>
        <div class="webpartcontent" style="display:none;">
            <h2>
                <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Image_Gallery">@lang.Image_Gallery</a>
            </h2>
            <div class="gallerylist">
                <ul class="list-item gallery">
                    <li class="Gallery-item-1">
                        <a href="../../Gallery/List/index.html@categoryid=4074.html" title="Giải đấu năm nay c&#243; gần 300 golfer tham dự v&#224; để lại ấn tượng đẹp trong l&#242;ng c&#225;c golf thủ.">
                            <img src="../../Images/Gallery/giai-dau-nam-nay-co-gan-300-golfer-tham-du-va-de-lai-an-tuong-dep-trong-long-cac-golf-thu-41201442409am.jpg" alt="Giải đấu năm nay c&#243; gần 300 golfer tham dự v&#224; để lại ấn tượng đẹp trong l&#242;ng c&#225;c golf thủ." />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="webpartcontent" style="display:none;">
            <h2>
                <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Video_Gallery">@lang.Video_Gallery</a>
            </h2>
            <div class="gallerylist">
                <embed width="245" height="135" wmode="transparent" type="application/x-shockwave-flash" src="https://www.youtube.com/v/m1g36ymGxNY" />
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
