@using webNews.Domain
@using webNews.Security
@{
    HomePageInfo pageInfo = new HomePageInfo();
    var branches = Authentication.GetBranches();
    if (Page.info != null)
    {
        pageInfo = Page.info as HomePageInfo;
    }
}
<div class="w-footer">
    <div class="w-footer-c">
        <div class="footerleft">
            @Html.Raw(pageInfo.Options.FooterText)
            <br />
            <br />
        </div>
        <div class="footerright">
            <img src="@pageInfo.Options.FooterImage" />
        </div>
    </div>
</div>
<div class="w-footer-bt">
    <ul style="width: 930px; margin: 0 auto;">
        @{
            if (branches != null && branches.Count > 0)
            {
                foreach (var item in branches)
                {
                    <li><a href="@item.Slug" target="_blank" class="desaturate"><img src="@item.Image" /></a></li>
                }
            }
        }
    </ul>
</div>
<div style="color: #acacac; width: 930px; margin: 0 auto; padding: 10px 0 0px 0; text-align: right;line-height:30px;">@Html.Raw(pageInfo.Options.Copyright)</div>
<a class="backtop"></a>