@{
    ViewBag.Title = @lang.Investment_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using webNews.Domain.Entities;
@using System.Globalization;
@using webNews.Security;
@using lang = webNews.Language.Language.Resource
<script src="~/ThemeFE/Scripts/Plugin/Pagging/pagging.js"></script>
<div id="content">
    <div id="leftcontent">
        <div class="webpartcontent">
            <div class="articlelist">
                <ul class="linhvuchoatdong">
                    @{
                        string nomargin = "";
                        int index = 0;
                        var newsCategories = ViewBag.newsCategories as List<NewsCategory>;
                        if (newsCategories != null)
                        {
                            foreach (var category in newsCategories)
                            {
                                index++;
                                if (index % 2 == 1)
                                {
                                    nomargin = "nomargin";
                                }
                                else
                                {
                                    nomargin = "";
                                }
                                <li class="item @nomargin">
                                    <a class="avatar" href="@category.Slug" title="@category.Title">
                                        <img src="@category.Image" alt="@category.Title" />
                                    </a>
                                    <h3 class="title">
                                        <a href="@category.Slug" title="@category.Title">@category.Title</a>
                                    </h3>
                                    <div class="des">
                                        @*<p>
                                                @news.ContentDetail
                                            </p>*@
                                    </div>
                                </li>
                            }
                        }
                    }

                </ul>

            </div>
        </div>
    </div>
    <div id="rightcontent">
        <div class="webpartcontent">
            <h2>
                @lang.Investment_Title
            </h2>
            <div class="menuleft">
                <ul class="lt nic-treeview">
                    @{
                        if (newsCategories != null)
                        {
                            foreach (var category in newsCategories)
                            {
                                <li class="item item-0">
                                    <a class="a-item-0" href="@category.Slug" title="@category.Title">@category.Title</a>
                                    @if (category.CategoryChilds != null && category.CategoryChilds.Count > 0)
                                    {
                                        <ul class="lt">
                                            @foreach (var child in category.CategoryChilds)
                                            {
                                                <li class="item item-1">
                                                    <a class="a-item-1" href="@child.Slug" title="@child.Title">@child.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        }

                    }
                </ul>
            </div>
        </div>
        <div class="webpartcontent" style="display:none;">
            <h2>
                <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Image_Gallery">@lang.Image_Gallery</a>
            </h2>
            <div class="gallerylist">
                <ul class="list-item gallery">
                    <li class="Gallery-item-1">
                        <a href="../../Gallery/List/index.html@categoryid=4074.html" title="Giải đấu năm nay c&#243; gần 300 golfer tham dự v&#224; để lại ấn tượng đẹp trong l&#242;ng c&#225;c golf thủ.">
                            <img src="../../Images/Gallery/giai-dau-nam-nay-co-gan-300-golfer-tham-du-va-de-lai-an-tuong-dep-trong-long-cac-golf-thu-41201442409am.jpg" alt="Giải đấu năm nay c&#243; gần 300 golfer tham dự v&#224; để lại ấn tượng đẹp trong l&#242;ng c&#225;c golf thủ." />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="webpartcontent" style="display:none;">
            <h2>
                <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Video_Gallery">@lang.Video_Gallery</a>
            </h2>
            <div class="gallerylist">
                <embed width="245" height="135" wmode="transparent" type="application/x-shockwave-flash" src="https://www.youtube.com/v/m1g36ymGxNY" />
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
