@{
    ViewBag.Title = lang.Contact_Information;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using webNews.Domain.Entities;
@using webNews.Domain
@using System.Globalization;
@using webNews.Security;
@using lang = webNews.Language.Language.Resource
@{
    HomePageInfo pageInfo = new HomePageInfo();
    var homePageInfo = Authentication.GetHomePageInfo();
    if (homePageInfo != null)
    {
        pageInfo = homePageInfo as HomePageInfo;
    }
}

<script src="~/ThemeFE/Scripts/Plugin/Pagging/pagging.js"></script>
<div id="content">
    <div id="leftcontent">
        <div class="webpartcontent" style="margin-top: 27px;">
            <iframe width="628" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/u/0/embed?mid=1CnXG4dYWkdo0b5XtmAdHpPg2TEkRx9fA"></iframe><br />
            <small>@lang.View <a href="https://www.google.com/maps/d/u/0/embed?mid=1CnXG4dYWkdo0b5XtmAdHpPg2TEkRx9fA" style="color:#0000FF;text-align:left">@pageInfo.Options.CompanyName</a> @lang.In_Larger_Map</small>
            <div class="info_address">
                <strong>@pageInfo.Options.CompanyName</strong> <br />
                @pageInfo.Options.CompanyAddress<br />
                Điện thoại: @pageInfo.Options.CompanyPhone<br />
                Email: @pageInfo.Options.CompanyEmail / Webiste: @pageInfo.Options.CompanyWebsite<br />
            </div>
            <div id="form-contact">
                <form action="/home/contact" enctype="multipart/form-data" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="K8sEQJ6XQvVuq4HYzyNuFi5xthuxh7c8i1F+YzLifi7/EhhlqfCdYcC83+YyrUmP1wrjPNtfIUDovMcotM1Cl6hvIUZks9Dh9LjLWY/fiDS9tzXsolgkdnDqMB13DoUprOVkEx03HDZnSDTCdd1tyEX584imCU/St5ZwLMRETq8=" />
                    <table>
                        <tr>
                            <td>
                                <h3 class="title">
                                    @lang.Contact_Information
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td class="error" style="color: #ff0000;"></td>
                        </tr>
                        <tr>
                            <td>
                                <input id="FullName" name="FullName" type="text" onfocus="if(this.value == '@lang.Sender_Name'){this.value = '';};" onblur="if(this.value == ''){this.value = '@lang.Sender_Name';}" value="@lang.Sender_Name" autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="Email" name="Email" type="text" onfocus="if(this.value == '@lang.Sender_Email'){this.value = '';};" onblur="if(this.value == ''){this.value = '@lang.Sender_Email';}" value="@lang.Sender_Email" autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="ContactContent">@lang.Sender_Content</label>:
                            </td>
                        </tr>
                        <tr>
                            <td class="contact-content" style="border: 1px solid #555555;">
                                <textarea cols="20" id="ContactContent" name="ContactContent" rows="2">

</textarea>
                                <input type="submit" value="@lang.Btn_Send" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div id="rightcontent">
        <div class="webpartcontent">
            <h2>
                @lang.Contact_Information
            </h2>
            <div class="menuleft">
                <ul class="lt nic-treeview">
                    @{
                        var newsCategories = ViewBag.newsCategories as List<NewsCategory>;
                        if (newsCategories != null)
                        {
                            foreach (var category in newsCategories)
                            {
                                <li class="item item-0">
                                    <a class="a-item-0" href="@category.Slug" title="@category.Title">@category.Title</a>
                                    @if (category.CategoryChilds != null && category.CategoryChilds.Count > 0)
                                    {
                                        <ul class="lt">
                                            @foreach (var child in category.CategoryChilds)
                                            {
                                                <li class="item item-1">
                                                    <a class="a-item-1" href="@child.Slug" title="@child.Title">@child.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        }

                    }
                </ul>
            </div>
        </div>
        <div class="webpartcontent" style="display:none;">
            <h2>
                <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Image_Gallery">@lang.Image_Gallery</a>
            </h2>
            <div class="gallerylist">
                <ul class="list-item gallery">
                    <li class="Gallery-item-1">
                        <a href="../../Gallery/List/index.html@categoryid=4074.html" title="Giải đấu năm nay c&#243; gần 300 golfer tham dự v&#224; để lại ấn tượng đẹp trong l&#242;ng c&#225;c golf thủ.">
                            <img src="../../Images/Gallery/giai-dau-nam-nay-co-gan-300-golfer-tham-du-va-de-lai-an-tuong-dep-trong-long-cac-golf-thu-41201442409am.jpg" alt="Giải đấu năm nay c&#243; gần 300 golfer tham dự v&#224; để lại ấn tượng đẹp trong l&#242;ng c&#225;c golf thủ." />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="webpartcontent" style="display:none;">
            <h2>
                <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Video_Gallery">@lang.Video_Gallery</a>
            </h2>
            <div class="gallerylist">
                <embed width="245" height="135" wmode="transparent" type="application/x-shockwave-flash" src="https://www.youtube.com/v/m1g36ymGxNY" />
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
